@model GestãoDeProjeto.Models.Projeto

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover Projeto</h1>

<h3>Deseja remover o Projeto Atual ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estimativaEmMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estimativaEmMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorProj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorProj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anoDeAprovacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anoDeAprovacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroDoProj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroDoProj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
