@model IEnumerable<GestãoDeProjeto.Models.Projeto>

@{
    ViewData["Title"] = "Index";
}

<h1>Proposta  <a asp-action="Create" class="btnNovo btn btn-success">Novo</a> </h1>
<p class="descTitulo"> Gerencie e solicite levantemento de dados dos projetos que impactem seu ecosistema</p>

<table class="table table-hover ">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <!-- <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estimativaEmMeses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorProj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anoDeAprovacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroDoProj)
            </th> -->
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/img/userICO.svg" style="height:50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <!-- <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estimativaEmMeses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorProj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anoDeAprovacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroDoProj)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><img src="~/img/editarICO.png" style="height:20px" /></a> |
                <a asp-action="Details" asp-route-id="@item.id"><img src="~/img/detalhesICO.webp" style="height:20px" /></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><img src="~/img/excluirICO.webp" style="height:20px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
